@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


:root{

     --primary-color:#42179c;
     --color-white:#fff;
     --wrapper-bg:#01c5de;

}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./assets/img-1.jpeg");
  background-attachment: fixed;
}


.main{
  display: flex;
  justify-content:center;
  align-items: center;

}
.App {
  text-align: center;
}

h1 {
  color: var(--primary-color);
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
  font-weight:bolder;
  font-family:'Lato','Poppins', sans-serif;
  font-style:initial;  
}

.TodoWrapper {
  background: var(--wrapper-bg);
  margin-top: 5rem;
  padding: 2rem;
  max-height: 500px;
  max-width: 410px;
  border-radius: 60px;
  border-top-right-radius: 14px;
  border-top-left-radius: 13px;
  margin-right: 99px;
  overflow-y: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}


.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
  animation: pop-in 1.75s forwards;
}
.EditTodo{
  animation: pop-in .5s forwards;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid var(--primary-color);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 300px;
  border-radius: 25px;
  margin-right: 13px;
  color: var(--color-white);
}

.todo-input::placeholder {
  color: #0000004d;
  font-style:italic;
  font-weight: 900;
}

.todo-btn {
  background: var(--primary-color);
  color: var(--color-white);
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  padding-left: 13px;
  margin-right: -39px;
  border-radius: 5px;
  font-size: 16px;
}
/* fade-in is defined at last it will give effect of adding task to the list */
.deleteAll-btn{
  margin-bottom: 1em;
  margin-left: -39px;
  animation:fade-in 0.5s;
}
.deleteAll-btn span {
  margin-left: 3px;
}

@media (max-width: 450px) {
  .TodoWrapper {
    margin-left: 20px; 
    margin-right: 0;

  }
  .todo-input {
    margin-left: 20px; 
    margin-right: 10;
    width: 70%;
    
  }
  .todo-btn {
    font-size: 12px;
    size: 60%;
  }
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-color);
  color: var(--color-white);
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  animation: slide-in 1.5s forwards;
}

/* .Todo.slide-out {
  animation: slideOut 0.5s backwards;
} */

 .slide-out{
  animation: slideOut 0.5s ;
}

.Todo > p {
  flex: 1;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
  overflow-y: auto;
}

  
.fontIcon{
  height: 18px;
  width: 18px;
}
.Todo>div{
   cursor: pointer;
}
.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: var(--color-white);
  cursor: pointer;
}

.completed {
  color: #9e7fea;
  text-decoration: line-through;
  cursor: pointer;
  animation:slide-in .1s forwards;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
 
.page-animation {
  animation: slide-in 1s;
}


/* Animation defined here */
@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}


@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes pop-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.Todo.exiting {
  animation: pop-out .5s forwards;
}


